@charset "UTF-8";
/* CSS Document */


html, body {
	width: 100vw;
	height: auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* Text Specifications */
h1 {
	font-size: 4.0vw;
	font-family: 'Lobster', cursive;
	line-height: 130%;
}

h2 {
	font-size: 3.5vw;
	font-family: 'Lobster', cursive;
	line-height: 130%;
}

h3 {
	font-size: 2.5vw;
	font-family: 'Fira Sans', sans-serif;
	color: #334d5c;
	line-height: 130%;
}
h4 {
	font-size: 2.0vw;
	font-family: 'Fira Sans', sans-serif;
	color: #334d5c;
	line-height: 130%;
}
h5 {
	font-size: 1.5vw !important;
	font-family: 'Fira Sans', sans-serif;
	color: #334d5c;
	line-height: 130%;
}

a, li {
	font-family:'Fira Sans', sans-serif !important;
	font-size: 2.0vw !important;
	color: #334d5c;
	text-decoration: none;
	cursor: pointer;
}

a:hover, li:hover {
	color: #45b29d;
}

/* Push Menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #334d5c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	z-index: 9999 !important;
}

.sidenav a {
    padding: 3%;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
	margin-left: 3vw;
	font-size: 3vw !important;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #cafcd8;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 3vw;
    margin-left: 50px;
	cursor: pointer;
	z-index: 9999;
}

#openbtn {
	position: fixed;
	font-size: 3vw;
	color: #334d5c;
	padding: .8vw 0 0 1.5vw;
	display: block;
	background-color: #cafcd8;
	border-radius: 50%;
	margin-top: 25px;
	margin-left: 15px;
	width: 4vw;
	height: 4vw;
	cursor: pointer;
	z-index: 9998 !important;
}

/* Home Page CSS */

#front-image {
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 7999;
    margin: 0;
	top: 0;
}

#about-photo {
	position: relative;
	float: left;
	width: 25vw;
	height: auto;
	z-index: 8999;
	margin: 2vw 5vw 0 5vw;
}

about {
	float: left;
	width: 40%;
	height: auto;
	font-size: 2.5vw;
	font-family: 'Fira Sans', sans-serif;
	color: #334d5c;
	line-height: 130%;
}

#about-section {
	margin: 20% 0 0 0;
	position: relative;
	width: 100vw;
	height: auto;
	overflow: hidden;
	display: block;
	background: #ffffff;
	padding: 4vw;
	z-index: 8999;
}

#rdd-logo {
	position: relative;
	float: center;
	margin-top: 15%;
	margin-left: 35%;
	z-index: 9999;
	width: 30%;
	height: auto;
}

#rdd-text {
	position: relative;
	float: center;
	text-align: center;
	z-index: 9999;
	color: #CAFCD8;
	padding: 10px;
}

#about-button {
	position: relative;
	float: right;
	margin: 5%;
	background-color: #334d5c;
	border: 1vw solid #334d5c;
	font-family: 'Lobster', cursive;
	font-size: 2vw;
	font-weight: 400;
	color: #cafcd8;
	width: 20vw;
	height: auto;
	cursor: pointer;
}

.about-button:hover {
	background-color: #ffffff;
	color: #334d5c;
}

.about-title {
	text-align: left;
	color: #45B29D;
	margin: 10px 5% 5% 5%;
}

.service-title {
	color: #cafcd8;
	margin-bottom: 0;
	position: relative;
	float: left;
}

.services {
	font-family: 'Fira Sans', sans-serif;
	background-color: #334D5C;
	position: relative;
	float: right;
	padding: 10px;
	text-align: left;
	vertical-align: middle !important;
	width: 90vw;
	height: auto;
}

.services td {
	width: 20%;
	background-color: #334D5C;
	color: #cafcd8;
	max-height: 200px;
	padding: 10px;
	font-size: 3.0vw;
}

#services-section {
	position: relative;
	width: 100vw;
	height:auto;
	overflow: hidden;
	display: block;
	background: #334D5C;
	padding: 2%;
	z-index: 8999;
}

#why-section {
	position: relative;
	width: 80%;
	height: auto;
	display: block;
	background: #ffffff;
	padding: 4vw;
	margin: 5%;
	z-index: 8999;
	overflow: hidden;
}

#work-section {
	position: relative;
	width: 100vw;
	height: auto;
	display: block;
	background: #ffffff;
	padding: 2vw;
	z-index: 8999;
	overflow: hidden;
}

#work {
	font-family: 'Fira Sans', sans-serif !important;
	background-color: #ffffff;
	border: none;
	padding: 2vw;
	text-align: center;
	vertical-align: middle !important;
	margin: 3vw;
	width: 90vw;
	height: auto;
}

#work td {
	width: 20vw;
	background-color: #ffffff;
	border: 2px solid #efefef;
	border-radius: 3%;
	box-shadow: 0 4px 8px 0 #f3f3f3;
    transition: 0.3s;
	max-height: 20vh;
	padding: 2vw;
	font-size: 2.0vw !important;
	align-text: center !important;
	line-height: 120%;
	cursor: pointer;
}

#work td:hover {
	color: #cafcd8;
}

#map-section {
	position: relative;
	width: 100vw;
	height: auto;
	display: block;
	background: #ffffff;
	padding: 5vw;
	z-index: 8998;
	overflow: hidden;
}

#map {
  position: relative;
  float: left;
  height: 20vw;
  width: 40vw;
  background-color: #efefef;
	margin-right: 4vw;
  z-index: 8999;
 }

 #social {
	position: relative;
	width: 100vw;
	height: auto;
	margin: 0;
	display: block;
	background: #334D5C;
	z-index: 8998;
	overflow: hidden;
	padding: 1vw 4vw;
 }

 #form-section {
	position: relative;
	width: 100vw;
	height: auto;
	margin: 0;
	display: block;
	background: #f3f3f3;
	padding: 2vw 4vw;
	z-index: 8999;
	overflow: hidden;
 }

 input {
	border: none;
    border-bottom: 2px solid #334D5C;
	background-color: transparent;
	font-size: 2vw;
	font-family: 'Fira Sans', sans-serif;
	width: 40vw;
	height: auto;
	margin-right: 4vw;
 }

 input:focus {
	background-color: #334D5C;
	color: #ffffff;
 }

 textarea {
	border: 2px solid #334D5C;
	background-color: transparent;
	font-size: 1.5vw;
	font-family: 'Fira Sans', sans-serif;
	width: 40vw;
	height: 10vw;
	border-radius: 1%;
	padding: 10px;
	margin: auto 5% auto 2%;
 }

 textarea:focus {
	background-color: #334D5C;
	color: #ffffff;
 }

 #submit-button {
	margin: 2% 0;
	background-color: #334d5c;
	border: 1vw solid #334d5c;
	font-family: 'Lobster', cursive;
	font-size: 1.5vw;
	font-weight: 400;
	color: #cafcd8;
	padding: 2px 1vw;
	cursor: pointer;
}

/* Tabs */
.container-tabs{
	padding: 1vw;
	margin: 0 2vw 2vw 2vw;
}

ul.tabs{
	list-style-type: none;
    overflow: hidden;
    background-color: transparent;
	font-family: 'Fira Sans', sans-serif;
}
ul.tabs li{
	position: relative;
	float: right;
	margin-right: 6vw;
    color: #ffffff;
    text-align: center;
    padding: 2vw;
    text-decoration: none;
    transition: 0.3s;
    font-size: 2vw;
	cursor: pointer;
}

ul.tabs li.current{
	background: #45B29D;
	border: 1vw solid #45B29D;
	border-radius: 50%;
	padding: 2vw;
}

.tab-content{
	display: none;
    padding: 6px 12px;
    border: none;
}

.tab-content.current{
	display: inherit;
}

/* Skills Section: Using CSS Keyframes */
#codeconSkills {
font-size: 2vw;
height: auto;
margin: 0 auto;
padding: 10px;
width: 75%;
float: right;
}
#codeconSkills img {
width: 20%;
height: 10%;
margin: auto 35%;
padding: 10px;
}
.codeconSkillbar {
width: 90%;
height: 7vh;
position: relative;
background:  #efefef;
margin: 20px auto;
}
#codeconHTML {
width: 90%;
animation: Animate-HTML 3s;
-webkit-animation: Animate-HTML 3s;
-moz-animation: Animate-HTML 3s;
-o-animation: Animate-HTML 3s;
-ms-animation: Animate-HTML 3s;
height: 7vh;
position: absolute;
background-color: #ea8564;
}
@keyframes Animate-HTML {
from {width: 10px;}
to {width: 90%} }
@-webkit-keyframes Animate-HTML {
from {width: 10px;}
to {width: 90%}}
@-moz-keyframes Animate-HTML {
from {width: 10px;}
to {width: 90%}}
@-o-keyframes Animate-HTML {
from {width: 10px;}
to {width: 90%}}

#codeconjQuery {
animation: Animate-jQuery 3s;
-webkit-animation: Animate-jQuery 3s;
-moz-animation: Animate-jQuery 3s;
-o-animation: Animate-jQuery 3s;
-ms-animation: Animate-jQuery 3s;
width: 60%;
height: 7vh;
position: absolute;
background-color: #99856d;
}
@keyframes Animate-jQuery {
from {width: 10px;}
to {width: 60%} }
@-webkit-keyframes Animate-jQuery {
from {width: 10px;}
to {width: 60%}}
@-moz-keyframes Animate-jQuery {
from {width: 10px;}
to {width: 60%}}
@-o-keyframes Animate-jQuery {
from {width: 10px;}
to {width: 60%}}

#codeconWord {
animation: Animate-jQuery 3s;
-webkit-animation: Animate-jQuery 3s;
-moz-animation: Animate-jQuery 3s;
-o-animation: Animate-jQuery 3s;
-ms-animation: Animate-jQuery 3s;
width: 70%;
height: 7vh;
position: absolute;
background-color: #45B29D;
}
@keyframes Animate-Word {
from {width: 10px;}
to {width: 70%} }
@-webkit-keyframes Animate-Word {
from {width: 10px;}
to {width: 70%}}
@-moz-keyframes Animate-Word {
from {width: 10px;}
to {width: 70%}}
@-o-keyframes Animate-Word {
from {width: 10px;}
to {width: 70%}}

#codeconUX {
animation: Animate-UX 3s;
-webkit-animation: Animate-UX 3s;
-moz-animation: Animate-UX 3s;
-o-animation: Animate-UX 3s;
-ms-animation: Animate-UX 3s;
width: 100%;
height: 7vh;
position: absolute;
background-color: #F2D03B;
}
@keyframes Animate-UX {
from {width: 10px;}
to {width: 100%} }
@-webkit-keyframes Animate-UX {
from {width: 10px;}
to {width: 100%}}
@-moz-keyframes Animate-UX {
from {width: 10px;}
to {width: 100%}}
@-o-keyframes Animate-UX {
from {width: 10px;}
to {width: 100%}}

.codeconSkillArea {
z-index: 1;
float: left;
position: absolute;
margin-top: 10px;
margin-left: 15px;
text-shadow: none;
color: #fff;
font-family: 'Fira Sans', sans-serif;
font-size: 2vw;
}
.PercentText {
z-index: 3;
position: relative;
padding-right: 15px;
margin-top: 10px;
float: right;
text-shadow: none;
color: #fff;
font-family: 'Lobster', sans-serif;
font-size: 2vw;
}

prices {
	color: #ffffff;
	float: right;
	margin-right: 15%;
	font-size: 2.0vw;
	font-family: 'Fira Sans', sans-serif;
	line-height: 130%;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 600px) {
  h1 {font-size: 6vw;}
  h2 {font-size: 5vw;}
  h3 {font-size: 4vw;}
  h4 {font-size: 4.5;}
  h5 {font-size: 3vw;}
  a {font-size: 2.5vw;}
  #codeconSkills {font-size: 4vw; float: left;}
  .services {float: left;}
  prices {float: left;}
  .service-title {display: none;}
  .tabs {float: left;}
  .codeconSkillbar {height: 5vh;}
  #codeconHTML {height: 5vh;}
  #codeconjQuery {height: 5vh;}
  #codeconWord {height: 5vh;}
  #codeconUX {height: 5vh;}
  #social {padding: 4vw 4vw 0 4vw;}
}
